
PG_HOST=localhost
PG_PORT=5432
PG_DB=aiops_sentinel

PG_ADMIN_USER=aiops
PG_ADMIN_PASSWORD=change_me

PG_READONLY_USER=infra_readonly
PG_READONLY_PASSWORD=change_me

SPLUNK_HEC_URL=https://localhost:8088/services/collector/event
SPLUNK_HEC_TOKEN=change_me
